.block-height-756
{
  height: 756px;
}

.block-width-695 {
  width: 716px !important;
  margin-left: auto;
  margin-right: auto;
}

.pad-top-54 {
  padding-top: 54px;
}

.relevante-col-1 {
  width: 243px !important;
}

.relevante-col-2 {
  width: 231px !important;
}

.relevante-col-3 {
  width: 242px !important;
}

.home-lato-regular-22-32-1 {
  font-size: 22px;
  font-family: Lato-Regular;
  font-weight: normal;
  line-height: 32px;
}

.losung-img-1200 {
  height: 756px;
  left: -115px;
  position: relative;
  width: 1205px;
}

.losung-col-1-new {
  width: 567px !important;    
}

.losung-col-2-new {
  width: 393px !important;    
}

.col-480 {
  width: 480px;
}

.col-480-2 {
  width: 480px;
}

.banner {
  background: url(/app/uploads/2016/11/LY-WANT_Website_11.png) no-repeat;
  -moz-background-size: 92.5% auto;
  -webkit-background-size: 92.5% auto;
  -o-background-size: 92.5% auto;
  background-size: 92.5% auto;
  background-color: #DFDFDF;
  background-position: center;
  height: 100%;
}

.padding-top-19 {
  padding-top: 19px;
}

.padding-top-112 {
  padding-top: 112.7px;
}

.padding-top-33 {
  padding-top: 33px;
}

.relevante-img-768 {
  display: none;
}

.col-die-1 {
  width: 405px;
  padding-left: 0;
  padding-right: 0;
}

.col-die-2 {
  width: 555px;
  padding-left: 0;
  padding-right: 0;
}

.block-width {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.mobile-block {
  background: url(/app/uploads/2016/10/LY-WANT_Website_1609231.png) no-repeat;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 756px;
}

.home-lato-regular-22-32 {
  font-size: 22px;
  font-family: Lato-Regular;
  font-weight: normal;
  line-height: 32px;
}

.home-lato-heavy-22-32 {
  font-size: 22px;
  font-family: Lato-Regular;
  font-weight: 900;
  line-height: 32px;
}

.home-lato-medium-22-32 {
  font-size: 22px;
  font-family: Lato-Regular;
  font-weight: 500;
  line-height: 32px;
}

.home-lato-bold-22-32 {
  font-size: 22px;
  font-family: Lato-Regular;
  font-weight: bold;
  line-height: 32px;
}

.home-museo-slab700-50-50 {
  font-size: 50px;
  font-family: MuseoSlab;
  font-weight: 700;
  line-height: 50px;
}

.custom-block-width {
  min-width: 470px;
}

.home-museo-slab700-22-32 {
  font-size: 22px;
  font-family: MuseoSlab;
  font-weight: 700;
  line-height: 32px;
}

.home-logo-img {
  width: 56%;
}

.img-style-kunden > img {
  padding-right: 5.23%;
  padding-top: 55px;
}

.img-style-kunden {
  text-align: justify;
}

.wpb_column.vc_column_container.vc_col-sm-4 {
  width: 42.19%;
}

.wpb_column.vc_column_container.vc_col-sm-8 {
  width: 57.81%;
}


.footer-align > td{
  text-align: center;
  vertical-align: middle;
}

.lato-bold-15-31-5 > p {
  font-size: 15px;
  line-height: 31.5px;
  font-family: Lato-Regular;
  font-weight: bold;
}

.lato-bold-15-22-5 {
  font-size: 15px;
  line-height: 22.5px;
  font-family: Lato-Regular;
  font-weight: bold;
  color: #00ff00;
}

.lato-medium-15-22-5 {
  font-size: 15px;
  line-height: 22.5px;
  font-family: Lato-Regular;
  font-weight: 500;
}

.lato-medium-15-22-5 > p {
  font-size: 15px;
  line-height: 22.5px;
  font-family: Lato-Regular;
  font-weight: 500;
}

.footer-menu {
  visibility: hidden;
}

.slider-style {
  text-align: center;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.blue-row {
  height: 538px;
}

.side-by-side-img {
  height: 546px;
  position: relative;
  right: 58px;
  top: -95px;
  width: 810px;
}

.col-width33 {
  width: 33.33% !important;
  height: 233px;
  vertical-align: middle;
  text-align: left
                display: table-cell;
  align: top;
}

.stat-text-block {
}

.home-lato-regular-39-67 {
  font-size: 39.681px;
  font-family: Lato-Regular;
  font-weight: normal;
  line-height: 67.427px;
}

.home-lato-regular-27-40 {
  font-size: 27.423px;
  font-family: Lato-Regular;
  font-weight: normal;
  line-height: 40.117px;
}

.home-lato-regular-27-38 {
  font-size: 27.423px;
  font-family: Lato-Regular;
  font-weight: normal;
  line-height: 38.679px;
}

.home-museo-slab500-78-66 {
  font-size: 78.287px;
  font-family: MuseoSlab;
  font-weight: 500;
  line-height: 66.023px;
}

.home-museo-slab500-62-56 {
  font-size: 62.386px;
  font-family: MuseoSlab;
  font-weight: 500;
  line-height: 56.148px;
}

.home-museo-slab500-43-41 {
  font-size: 43.67px;
  font-family: MuseoSlab;
  font-weight: 500;
  line-height: 41.175px;
}

.home-museo-slab500-101-91 {
  font-size: 101.698px;
  font-family: MuseoSlab;
  font-weight: 500;
  line-height: 91.414px;
}

.home-lato-regular-31-46 {
  font-size: 31.392px;
  font-family: Lato-Regular;
  font-weight: normal;
  line-height: 46.406px;
}

.home-lato-regular-31-46 {
  font-size: 31.392px;
  font-family: Lato-Regular;
  font-weight: normal;
  line-height: 46.406px;
}

.home-lato-regular-31-40 {
  font-size: 31.392px;
  font-family: Lato-Regular;
  font-weight: normal;
  line-height: 40.946px;
}

.bildwelt-img {
  width: 61.56%;
}

.want-logo {
  position: fixed;
  top: 30px;
  left: 12.5%;
  z-index: 999;
}

.div-mid-align {
  display: table-cell;
  text-align: center;
}

.block-height-1 {
  height: auto;
  margin-top: 120px;
}

.block-height-756 {
  height: 756px;
}

.block-height-328 {
  height: 328px;
  padding-top: 96px;
}

.block-height-691 {
  padding-top: 134.5px;
  height: 691.5px;
}

.block-height-896 {
  height: 896px;
}

.block-height-386 {
  height: 386.5px;
}

.block-height-694 {
  height: 694px;
}

.block-height-2660 {
  height: 2655.5px;
}

/* ####################################################### 1200px */

@media screen and (max-width: 1000px) {

  .block-width-695 {
    width: 676px !important;
  }
  
  .relevante-col-1 {
    width: 232px !important;
  }

  .relevante-col-2 {
    width: 223px !important;
  }

  .relevante-col-3 {
    width: 221px !important;
  }

  .home-lato-regular-22-32-1 {
    font-family: Lato-Regular;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }

  .wpb_column.vc_column_container.vc_col-sm-12.vc_col-has-fill {
    margin-top: -56px;
  }

  .col-480 {
    width: 325px;
  }
  
  .col-480-2 {
    width: 337px;
  }

  .mobile-block-2 {
    min-height: 0px;
    width: 0px;
    height: 0px;
  }

  .losung-small {
    width: auto !important;
    height: auto !important;
  }
  .temp {
    width: 768px !important;
    height: 589px !important;
  }
  .losung-big {
    min-height: 0;
    display: none;
    width: 0px;
    height: 0px;
  }

  .losung-small-2 {
    width: auto !important;
    height: auto !important;
  }

  .block-height-756
  {
    height: auto;
  }

  .mobile-block {
    display: none !important;
    height: 0 !important;
    width: 0 !important;
    min-height: 0 !important;
  }

  .padding-top-19 {
    padding-top: 6px;
  }

  .br-delete br{
    display: none;
  }

  .padding-top-112 {
    padding-top: 141.7px;
  }

  .padding-top-33 {
    padding-top: 38px;
  }

  .banner {
    background: #dfdfdf url("/app/uploads/2016/11/LY-WANT_Website_11.png") no-repeat scroll center center / 122% auto;
  }

  .block-height-2660 {
    height: 2515px;
  }

  .wpb_single_image.wpb_content_element.vc_align_center.vc_custom_1478718618865.img-1 img {
    height: 535px;
    width: 753px;
  }

  .wpb_single_image.wpb_content_element.vc_align_center.vc_custom_1478717661002.img-2 img {
    height: 540px;
    width: 765px;
  }

  .wpb_single_image.wpb_content_element.vc_align_center.vc_custom_1478717696166.img-3 img {
    height: 534px;
    width: 754px;
  }

  .wpb_single_image.wpb_content_element.vc_align_center.vc_custom_1478717683831.img-4 img {
    height: 536px;
    width: 753px;
  }

  .img-1 {
  }

  .img-2 {
  }

  .img-3 {
  }

  .img-4 {
  }

  .relevante-img-768 {
    display: block;
  }

  .relevante-img-1280 {
    display:none;
  }

  .img-768 {
    height: 443px;
    width: 632px;
  }

  .side-by-side-img {
    position: relative;
    right: 69px;
    top: -82px !important;
  }

  .block-height-691 {
    padding-top: px;
    height: 728px !important;
  }

  .block-height-328 {
    height: 285px !important;
    padding-top: 58.65px !important;
  }
  
  .block-height-1 {
    height: 299px !important;
    margin-top: 93px;
  }    
  
  .col-die-1 {
    width: 325px !important;
    padding-left: 0;
    padding-right: 0;
  }

  .col-die-2 {
    width: 336px !important;
    padding-left: 0;
    padding-right: 0;
  }    
  
  .zuh-col-1 {
    width: 390px;
  }

  .zuh-col-2 {
    width: 272px;
  }
  
  .block-width {
    width: 662px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .width-col-1 {
    width: 207px;
  }
  
  .width-col-2 {
    width: 248px;
  }
  
  .width-col-3 {
    width: 207px;
  }
  
  .green-line-1200 img {
    height: 6px !important;
    vertical-align: top;
    width: 139px !important;
  }

  .home-museo-slab700-18-27 {
    font-size: 18px !important;
    line-height: 27px !important;
  }

  .home-lato-bold-22-32 {
    font-size: 18px;
    line-height: 27px;
  }

  .home-lato-heavy-22-32 {
    font-size: 18px;
    line-height: 27px;
  }

  .home-lato-regular-22-32 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-museo-slab700-50-50 {
    font-size: 40.925px;
    line-height: 40.925px;
  }

  .home-museo-slab700-22-32 {
    font-size: 20px;
    line-height: 23px; 
  }

  .home-lato-medium-22-32 {
    font-size: 16px;
    line-height: 25px; 
  }
  .home-museo-slab700-48-50 {
    font-size: 40px;
    line-height: 40px;
  }

  .hide-col {
    height: 0px !important;
    width: 0px !important;
    visibility: hidden;
  }

  .none-col {
    height: 0px !important;
    width: 0px !important;
    display: none;
  }

  .wpb_single_image img {
    max-width: 100%;
  }
}

.block-width-header {
  width: 100%;
}

.text-align {
  text-align: center;
}

.col-width-49 {
  width: 49% !important;
}

.col-width-51 {
  width: 51% !important;
}

.header-text {
  z-index: 999;
  letter-spacing: 0.93px;
  position: relative;
}

.header-text p {
  letter-spacing: 0.93px;
  font-family: Museo Slab W01_700;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
}

.banner-content {
  display: inline-block;
}

.header-text span {
  color: #222;
  display: inline-block;
  font-family: Lato;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}

.banner-content {
  top: 37px;
}

@media screen and (max-width: 760px) {
  .forderung-col-width {
    width: auto !important;
  }

  .padding-top-40 {
    padding: 40px 0;
  }
}

@media screen and (max-width: 442px) {
  .font-size-075 {
    font-size: 0.75em; 
  }
  .font-size-090 {
    font-size: 0.90em; 
  }

  .green-line-100 {
    width: 100% !important;
    height: 119% !important;
  }

}

.losung-small {
  min-height: 0px;
  width: 0px;
  height: 0px;
}

.hide-col {
  height: auto;
}

@media screen and (max-width: 1065px) {
  .side-by-side-img {
    top: -50px;
  }
}
