.vc_row.wpb_row.vc_row-fluid.losung-small.mobile-block-768.vc_custom_1479225947103 {
    display: none;
}

.span-per {
    display: none;
}

.raw-html-bot {
    padding-bottom: 90px;
}
.img-html {
    display: inline;
}
.bildwelt-pad {
    padding-bottom: 73px !important;
    padding-top: 101px !important;
}
.ux-des-img {
    padding-bottom: 110px !important;
    padding-top: 90px !important;
}
.ux-pad-top {
    padding-top: 108px;
}
.side-logo-bot-pad{
    padding-bottom: 75px;
}
.kont-plot-1200 {
    display: block;
}
.kont-plot-320 {
    display: none;
}

.home-museo-slab700-20-27 {
    font-family: MuseoSlab;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
}
.block-width-test {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.plot-pad-bot {
    padding-bottom: 100px;
}

.die-comm-pad {
    margin-top: -30px;
    padding-top: 130px;
}
.umset-1200 {
    display: block;
}
.umset-320 {
    display: none;
}

.innovat-pad-320 {
    padding-bottom: 23px !important;
    padding-top: 25px;
}

.losung-320-text {
    display: none;
}

.losung-320-img {
    display: none;
}

.pad-top-40 {
    padding-top: 40px;
}

.col-4-1 {
    width: 243px !important;
}

.img-all {
    display: table-cell;
    width: 811px;
}
.img-all img {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.ui-img-margin {
    padding-top: 119px !important;
    padding-bottom: 63px !important;
}

.padding-top-113 {
    padding-top: 113px;
}

.col-4-2 {
    width: 243px !important;
}

.col-4-3 {
    width: 243px !important;
}

.col-4-4 {
    width: 231px !important;
}

.logo-padding-top {
    padding-top: 113px;
    padding-bottom: 156px;
}

.padding-bottom-194 {
    padding-bottom: 194px;
}

.block-width-die-com {
    margin: 0 auto;
    width: 960px;
}

.img-block-768 {
    display: none;
}

.zahlen-margin-top {
    margin-top: 134px;
}

.wpb_text_column.wpb_content_element.vc_custom_1477155276804.home-lato-regular-22-32 {
    margin-right: -58px;
}

.die-kom-col-1 {
    width: 567px;
}

.die-kom-col-2 {
    width: 393px;
}

.uber-margin {
    /*margin: 19px auto 115px auto;*/
    margin-top: 19px !important;
    margin-bottom: 115px !important;
}

.umset-margin-top {
    padding-top: 119px;
}

.umset-col-1 {
    width: 324px !important;
}

.umset-col-2 {
    width: 337px !important;
}

.heraus-col-1 {
    width: 405px;
}

.heraus-col-2 {
    width: 555px;
}

.heraus-col-2-test {
    width: 555px;
}

.margin-right-neg-8 {
    margin-right: -16px;
}

.block-height-328-padding {
    padding-top: 90px;
    padding-bottom: 87px;
}

.block-height-555 {
    height: 515px;
    padding: 115px 0 125px 0;
}

.home-lato-regular-22-32 {
    font-size: 22px;
    font-family: Lato-Regular;
    font-weight: normal;
    line-height: 32px;
}

.home-lato-regular-22-32-1 {
    font-size: 22px;
    font-family: Lato-Regular;
    font-weight: normal;
    line-height: 32px;
}

.home-lato-heavy-22-32 {
    font-size: 22px;
    font-family: Lato-Regular;
    font-weight: 900;
    line-height: 32px;
}

.home-lato-medium-22-32 {
    font-size: 22px;
    font-family: Lato-Regular;
    font-weight: 500;
    line-height: 32px;
}

.home-lato-bold-22-32 {
    font-size: 22px;
    font-family: Lato-Regular;
    font-weight: bold;
    line-height: 32px;
}

.home-museo-slab700-50-50 {
    font-size: 50px;
    font-family: MuseoSlab;
    font-weight: 700;
    line-height: 50px;
}

.block-width {
    width: 960px;
    margin: 0 auto;
}

.custom-block-width {
    min-width: 470px;
}

.home-museo-slab700-22-32 {
    font-size: 22px;
    font-family: MuseoSlab;
    font-weight: 700;
    line-height: 32px;
}

.home-logo-img {
    width: 56%;
}

.img-style-kunden > img {
    padding-right: 5.23%;
    padding-top: 55px;
}

.img-style-kunden {
    text-align: justify;
}

.banner {
    background: url(/app/uploads/2016/10/Page_5_-LY-WANT_Website_160923.png) no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.mobile-block {
    background: url(/app/uploads/2016/10/Page_5_WANT_Website_160923.png) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    min-height: 525.5px;
}

.footer-align > td{
    text-align: center;
    vertical-align: middle;
}

.lato-bold-15-31-5 > p {
    font-size: 15px;
    line-height: 31.5px;
    font-family: Lato-Regular;
    font-weight: bold;
}

.lato-bold-15-22-5 {
    font-size: 15px;
    line-height: 22.5px;
    font-family: Lato-Regular;
    font-weight: bold;
    color: #00ff00;
}

.lato-medium-15-22-5 {
    font-size: 15px;
    line-height: 22.5px;
    font-family: Lato-Regular;
    font-weight: 500;
}

.lato-medium-15-22-5 > p {
    font-size: 15px;
    line-height: 22.5px;
    font-family: Lato-Regular;
    font-weight: 500;
}

.footer-menu {
    visibility: hidden;
}

.slider-style {
    text-align: center;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.blue-row {
    height: 538px;
}

.side-by-side-img{
    position: relative;
    right: 86px;
    top: -137px;
}

.col-width33 {
    width: 33.33% !important;
    height: 233px;
    vertical-align: middle;
    text-align: left
    display: table-cell;
    valign: top;
}

.stat-text-block {
}

.home-lato-regular-39-67 {
    font-size: 39.681px;
    font-family: Lato-Regular;
    font-weight: normal;
    line-height: 67.427px;
}

.home-lato-regular-27-40 {
    font-size: 27.423px;
    font-family: Lato-Regular;
    font-weight: normal;
    line-height: 40.117px;
}

.home-lato-regular-27-38 {
    font-size: 27.423px;
    font-family: Lato-Regular;
    font-weight: normal;
    line-height: 38.679px;
}

.home-museo-slab500-78-66 {
    font-size: 78.287px;
    font-family: MuseoSlab;
    font-weight: 500;
    line-height: 66.023px;
}

.home-museo-slab500-62-56 {
    font-size: 62.386px;
    font-family: MuseoSlab;
    font-weight: 500;
    line-height: 56.148px;
}

.home-museo-slab500-43-41 {
    font-size: 43.67px;
    font-family: MuseoSlab;
    font-weight: 500;
    line-height: 41.175px;
}

.home-museo-slab500-101-91 {
    font-size: 101.698px;
    font-family: MuseoSlab;
    font-weight: 500;
    line-height: 91.414px;
}

.home-lato-regular-31-46 {
    font-size: 31.392px;
    font-family: Lato-Regular;
    font-weight: normal;
    line-height: 46.406px;
}

.home-lato-regular-31-46 {
    font-size: 31.392px;
    font-family: Lato-Regular;
    font-weight: normal;
    line-height: 46.406px;
}

.home-lato-regular-31-40 {
    font-size: 31.392px;
    font-family: Lato-Regular;
    font-weight: normal;
    line-height: 40.946px;
}

.bildwelt-img {
    width: 100%;
    text-align: center;
}

.want-logo {
    position: fixed;
    top: 30px;
    left: 12.5%;
}

.div-mid-align {
    display: table-cell;
    text-align: center;
}

.block-width-1 {
    width: 100%;
}

.block-height-328 {
    height: 328px;
    padding-top: 90px;
    padding-bottom: 87px;
    margin: 0 auto;
}

.block-height-527 {
    height: 526.5px;
}

.block-height-297 {
    height: 297.5px;
}

.block-height-261 {
    padding-bottom: 74px !important;
    padding-top: 74px !important;
    height: 261.72px;
}

.header-text {
    z-index: 999;
    letter-spacing: 0.93px;
}

.header-text p {
    font-family: MuseoSlab;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    display: inline-block;
    padding: 10px 20px;
    letter-spacing: 0.93px;
    background-color: white;
}

.losung-small.mobile-block-768 .heraus-col-1 {
    width: 52% !important;
}

.losung-small.mobile-block-768 .heraus-col-2 {
    width: 200px !important;
}

.losung-small.mobile-block-768 .heraus-col-2 img {
    width: 337px;
    max-width: 337px !important;
}

@media screen and (max-width: 1275px) {

    .mobile-block {
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.reference-title {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 45px;
}

.banner-content {
    top: 37px;
}

@media screen and (max-width: 1150px) {
    .ui-col-width{
        width: 100%;
    }
}

.losung-small {
    min-height: 0px;
    width: 0px;
    height: 0px;
}

.hide-col {
    height: auto;
}

@media screen and (max-width: 1065px) {
    .forderung-col-width {
        width: auto !important;
    }
}

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% 1200 %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
@media screen and (max-width: 1000px) {

    .vc_row.wpb_row.vc_row-fluid.losung-small.mobile-block-768.vc_custom_1479225947103 {
        display: block;
    }



    .block-height-328 {
        height: auto;
        margin: 0 auto;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .block-height-555 {
        height: auto;
        padding: 91px 0 76.5px;
    }
    .heraus-col-2-test {
        float: none;
        overflow: hidden;
        width: auto;
    }

    .block-width-test {
        margin-left: 53px;
        margin-right: 53px;
        width: auto;
    }
    .plot-img {
        /*width: 692px !important;*/
        /*left: 14px;*/
        /*position: relative;*/
    }
    .plot-img-padding img {
        /*padding-left: 1px;*/
    }
    .home-museo-slab700-22-32 {
        font-size: 18px;
        line-height: 27px;
    }
    .img-1 {
        width: 334px;
        height: 229px;
    }
    .img-2 {
        width: 318px;
        height: 229px;
    }
    .img-3 {
        width: 393px;
        height: 269px;
    }
    .img-4 {
        width: 260px;
        height: 269px;
    }

    .img-all {
        width: 700px;
    }
    .img-all img {
        padding-right: 8px;
        padding-bottom: 8px;
        float: none;
    }

    .ui-img-margin {
        padding-top: 83px !important;
        padding-bottom: 43px !important;
    }

    .ui-img-width img {
        width: 719px !important;
    }

    .padding-top-113 {
        padding-top: 91px;
    }

    .margin-right-6 div p {
        margin-right: -6px;
    }

    .col-4-1 {
        width: 27.6% !important;
    }

    .col-4-2 {
        width: 27.1% !important;
    }

    .col-4-3 {
        width: 25.7% !important;
    }

    .col-4-4 {
        width: 19.6% !important;
    }

    .home-lato-regular-22-32-1 {
        font-family: Lato-Regular;
        font-weight: normal;
        font-size: 17px;
        line-height: 24px;
    }

    .block-height-261 {
        padding-bottom: 74px !important;
        padding-top: 74px !important;
        height: 245px;
    }

    .padding-bottom-194 {
        padding-bottom: 180px;
    }

    .logo-padding-top {
        padding-top: 109px;
        padding-bottom: 96px;
    }

    .img-block-1280 {
        display: none;
    }

    .img-block-768 {
        display: block;
    }

    .zahlen-margin-top {
        margin-top: 94px;
    }

    .uber-margin {
        /*margin: 9px auto 101px;*/
        margin-top: 9px !important;
        margin-bottom: 101px !important;
    }

    .die-img-768 img {
        height: auto;
        /*left: 50px;*/
        max-width: 100%;
        position: absolute;
        top: 24px;
        vertical-align: top;
        width: 378px;
    }

    .block-width-die-com {
        margin: 0 auto;
        /*width: 768px;*/
        /*width: 100% !important;*/
    }

    .die-kom-col-1 {
        /*width: 443px !important;*/
        width: 48.93%;
    }

    .die-kom-col-2 {
        width: 325px !important;
        /*width: 56.07%;*/
    }

    .umset-margin-top {
        padding-top: 110px;
    }

    .umset-col-1 {
        width: 318px !important;
    }

    .umset-col-2 {
        width: 340px !important;
    }

    .side-by-side-img {
        height: 50%;
        position: relative;
        right: 90px;
        top: -79px;
        width: 743px;
    }

    .mobile-block-768 {
        background: url(/app/uploads/2016/10/losung-768_Website_160923.png) no-repeat;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 482px;
    }

    .kill-br br{
        display: none;
    }

    .margin-right-neg-8 {
        margin-right: 0px;
    }

    .block-height-328-padding {
        padding-top: 90px;
        padding-bottom: 87px;
    }

    .green-line-1200 img {
        height: 6px !important;
        vertical-align: top;
        width: 139px !important;
    }

    .text-margin-right-negative {
        margin-right: -2px;
    }

    .text-margin-right-negative-12 {
        margin-right: -12px;
    }

    .padding-top-40 {
        padding: 0 !important;
    }

    .home-lato-heavy-22-32 {
        font-size: 18px;
        line-height: 27px;
    }

    .home-lato-bold-22-32 {
        font-size: 18px;
        line-height: 27px;
    }

    .home-lato-regular-22-32 {
        font-size: 18px;
        line-height: 27px;
    }

    .home-museo-slab700-50-50 {
        font-size: 40px;
        line-height: 40px;
    }

    .heraus-col-1 {
        width: 321px !important;
    }

    .heraus-col-2 {
        width: 337px !important;
    }

    .block-width {
        width: auto;
        margin: 0 55px;
    }

    .banner {
        background: url(/app/uploads/2016/10/ins-768_Website_160923.png) no-repeat;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
    }

    .mobile-block {
        min-height: 0px;
        width: 0px;
        height: 0px;
    }

    .losung-small {
        width: auto !important;
        height: 481px !important;
    }

    .hide-col {
        height: 0px !important;
        width: 0px !important;
        visibility: hidden;
    }

    .wpb_single_image img {
        max-width: 100% !important;
    }

}

.img-width {
    width: 100%;
}

@media screen and (max-width: 784px) {
    .span-per {
        display: inline;
    }
}


/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  320 $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
@media screen and (max-width: 767px) {
    .vc_row.wpb_row.vc_row-fluid.losung-small.mobile-block-768.vc_custom_1479225947103 {
        display: none;
    }



    .die-comm-pad {
        margin-top: -160px;
        padding-top: 0;
    }
    .die-kom-col-2.die-comm-pad.wpb_column.vc_column_container.vc_col-sm-4 {
        padding-left: 144px;
    }
    .span-per {
        display: none;
    }
    .block-width-col-480 {
        margin-left: auto !important;
        margin-right: auto !important;
        width: 83% !important;
    }
    .col-4-1.wpb_column.vc_column_container.vc_col-sm-3 {
        padding-bottom: 28px;
    }
    .col-4-2.padding-top-35.wpb_column.vc_column_container.vc_col-sm-3 {
        padding-bottom: 28px;
    }
    .block-height-261 {
        padding-top: 5px !important;
    }
    .col-4-1, .col-4-2, .col-4-3, .col-4-4 {
        float: left;
        width: 50% !important;
    }
    .side-by-side-img {
        height: auto;
        margin-left: -15%;
        position: static;
        width: 115%;
    }
    .umset-margin-top {
        padding-bottom: 46px;
        padding-top: 0;
    }



    /*24.11.2016*/
    .bildwelt-pad {
        padding-bottom: 32px !important;
        padding-top: 56px !important;
    }
    .ui-img-margin {
        padding-bottom: 43px !important;
        padding-top: 45px !important;
    }
    .ui-design-width-320 {
        padding-left: 15.5px !important;
        padding-right: 15.5px !important;
        margin-left: 0px;
        margin-right: 0px;
        width: auto !important;
    }
    .padding-top-113 {
        margin-top: 47.5px;
        padding-top: 31.5px;
    }
    .padding-top-35 {
        padding-top: 0px !important;
    }

    .block-height-261 {
        height: auto;
        padding-bottom: 10px !important;
        padding-top: 0px !important;
    }
    .ux-des-img {
        margin-bottom: 15px !important;
        padding-bottom: 37px !important;
        padding-top: 0 !important;
    }
    .ux-pad-top {
        margin-top: 51px;
        padding-top: 31px;
    }
    .padding-bottom-194 {
        padding-bottom: 0;
    }
    .side-logo-bot-pad{
        padding-bottom: 48px;
    }
    .logo-padding-top {
        padding-bottom: 36px;
        padding-top: 54px;
    }
    .kont-plot-320 {
        display: block;
    }
    .kont-plot-1200 {
        display: none;
    }
    .plot-pad-bot {
        padding-bottom: 55px;
    }
    .plot-img {
        /*left: 0;*/
        /*width: 692px !important;*/
    }
    .uber-margin {
        /*margin: 19px auto 69px;*/
        margin-top: 19px !important;
        margin-bottom: 69px !important;
    }
    .die-kom-col-2 {
        width: auto !important;
    }
    /*.die-comm-pad {*/
    /*margin-top: -56px;*/
    /*padding-top: 0px;*/
    /*}*/
    .block-width-die-com {
        margin-left: 15.5px;
        margin-right: 15.5px;
        width: auto;
    }
    .die-kom-col-1.wpb_column.vc_column_container.vc_col-sm-8 {
        height: 327px;
    }
    .die-img-768 img {
        left: -34.5px;
        top: 24px;
        width: 286px;
    }
    /*.die-img-768 img {*/
    /*left: 15.5px;*/
    /*top: 24px;*/
    /*width: 273px;*/
    /*}*/
    .umset-1200 {
        display: none;
    }
    .umset-320 {
        display: block;
    }
    .umset-col-1 {
        width: auto !important;
    }
    .umset-col-2 {
        width: auto !important;
    }
    .innovat-pad-320 {
        padding-bottom: 16px !important;
    }
    .losung-320-text {
        padding-bottom: 0px;
        display: block;
    }
    .losung-320-bg {
        background: rgba(0, 0, 0, 0) url("/app/uploads/2016/10/losung-img-320.png") no-repeat scroll 0 0 / 100% auto;
        min-height: 308px;
    }
    .losung-320-img {
        display: block;
    }
    .losung-small {
        min-height: 0px;
        width: 0px;
        height: 0px;
        display: none;
    }
    .ins-pad-bot-17 {
        padding-bottom: 17px;
    }
    .block-height-328-padding {
        padding-bottom: 48px;
        padding-top: 52px;
    }
    .block-height-328 {
        height: auto !important;
        padding-bottom: 0px !important;
        margin: 0 auto;
        padding-top: 90px;
    }
    .pad-bot-green-23 {
        padding-bottom: 23.5px;
    }
    .pad-top-40 {
        padding-top: 25px;
    }
    .block-height-555 {
        height: auto !important;
        padding: 41px 0 57px;
    }
    .banner {
        background: rgba(0, 0, 0, 0) url("/app/uploads/2016/11/VIT-480x800-19-11.png") no-repeat scroll 0 0 / cover;
        height: 100%;
    }
    .block-width {
        margin-left: 15.5px;
        margin-right: 15.5px;
        width: auto;
    }
    .block-width-test {
        margin-left: 15.5px !important;
        margin-right: 15.5px !important;
        width: auto !important;
    }
    .br-delete {
        display: none;
    }

    .die-kom-col-1 {
        width: auto;
    }
}

@media screen and (max-width: 677px) {
    /*24.11.2016*/
    .img-all {
        width: 476px;
    }
    .img-1 {
        height: 155.7px;
        width: 227px;
    }
    .img-2 {
        height: 155.7px;
        width: 216px;
    }
    .img-3 {
        height: 182.9px;
        width: 267px;
    }
    .img-4 {
        height: 182.9px;
        width: 176.8px;
    }

}

@media screen and (max-width: 479px) {

    .die-img-768 img {
        left: 15.5px;
        top: 24px;
        width: 273px;
    }
    .die-comm-pad {
        margin-top: -56px;
        padding-top: 0px;
    }
    .die-kom-col-2.die-comm-pad.wpb_column.vc_column_container.vc_col-sm-4 {
        padding-left: 0px;
    }

    .raw-html-bot {
        padding-bottom: 0px;
    }
    .block-width-bildwelt-479 {
        margin-left: 6.5px !important;
        margin-right: 2.5px !important;
        width: auto !important
    }
    .img-1, .img-2, .img-3, .img-4 {
        height: auto;
        width: 100%;
    }
    .img-all img {
        padding-bottom: 11px;
        padding-right: 8px;
    }
    .img-all {
        width: 100%;
        height: auto;
    }
    .banner {
        background: rgba(0, 0, 0, 0) url("/app/uploads/2016/11/insight-header-320.png") no-repeat scroll 0 0 / cover;
        height: 100%;
    }
    .losung-320-bg {
        min-height: 211px;
    }
}

@media screen and (max-width: 450px) {

    /*25.11.2016*/
    .block-width-col-480 {
        margin-left: 15.5px !important;
        margin-right: 15.5px !important;
        width: auto !important;
    }
    .col-4-1.wpb_column.vc_column_container.vc_col-sm-3 {
        padding-bottom: 0;
    }
    .col-4-2.padding-top-35.wpb_column.vc_column_container.vc_col-sm-3 {
        padding-bottom: 0;
    }
    .block-height-261 {
        padding-top: 0;
    }
    .col-4-1, .col-4-2, .col-4-3, .col-4-4 {
        width: auto !important;
        float: none;
    }
    .side-by-side-img {
        margin-left: 0%;
        width: 100%;
        height: 50%;
        position: relative;
        right: 61px !important;
        top: -49px !important;
        width: 477px !important;
    }
    .umset-margin-top {
        padding-bottom: 46px;
        padding-top: 50px;
    }
    .losung-320-text {
        padding-bottom: 30px;
    }
}
