@charset "utf-8";
/*CSS Document 
Smooth Slider default styles*/
.smooth_slider div,.smooth_slider p,.smooth_slider span,.smooth_slider img,.smooth_slider h2{list-style:none;vertical-align:baseline;}
.smooth_slider ul{list-style:disc;vertical-align:baseline;list-style-position:inside;}
.smooth_slider li{vertical-align:baseline;}
.smooth_slider{padding:0 5px;width:100%;box-sizing: border-box;}
.smooth_slider .sldr_title{margin:5px 0 10px 0;}
.smooth_slider span{display:inline;overflow:hidden;margin: 10px auto;line-height:18px;}
.smooth_slider .smooth_sliderb{position:relative;}
.smooth_slider .smooth_slideri{position:absolute;width:100% !important;height:auto !important;}
.smooth_slider .smooth_slider_thumbnail{position:relative;max-width:100%;}
.smooth_slider a{text-decoration:none !important;}
.smooth_slider h2{clear:none;display:block;padding:0px;}
.smooth_slider p.smooth_more{margin:0;display:inline-block;}
.smooth_slider p.smooth_more a{text-decoration:underline !important;}
.smooth_slider p.smooth_more a:hover{text-decoration:none;}

.sldrbr{line-height:1px;}
.sldrlink{display:block;font-size:8px;font-family:Verdana, Helvetica, sans-serif;}
.sldrlink a{position:absolute;bottom:0;right:5px;margin:10px auto;color:#333333;}
.sldr_clearlt{display:block;visibility:hidden;clear:left;height:0;content:".";}
.sldr_clearrt{display:block;visibility:hidden;clear:right;height:0;content:".";}

/*Navigation */
/* Next and Previous navigational arrows */
.smooth_slider .smooth_next {position: absolute;right: 0px;top:45%; width: 24px; height: 24px; cursor: pointer; background: transparent url(buttons/default/next.png) no-repeat 0 0;z-index:10;}
.smooth_slider .smooth_prev { position: absolute;left: 0px;top:45%; width: 24px; height: 24px; cursor: pointer; background: transparent url(buttons/default/prev.png) no-repeat 0 0;z-index:10;}

/*Navigation numbers*/
.smooth_slider .smooth_nav { position:absolute;bottom:0px;text-align:center;margin: 10px auto;}
.smooth_slider .smooth_nav a.smooth_slider_nnav { padding: 2px 6px; margin: 3px; border: 1px solid #ccc; text-align: center; text-decoration: none; font-weight:normal;}
.smooth_slider .smooth_nav a.smooth_slider_nnav.activeSlide { font-weight:bold;background-color: #efefef ; }
.smooth_slider .smooth_nav a.smooth_slider_nnav:focus { outline: none; }
.smooth_slider .smooth_nav a.smooth_slider_inav{display:block;float:left;}
.smooth_slider .smooth_nav a.smooth_slider_bnav{background: transparent url(buttons/default/nav.png) no-repeat 0 0;margin:0 3px;}
/* smooth Video */
.smooth_slider .smooth_slider_eshortcode{position:relative;}
.smooth_slider video{display: inline-block;width: 100% !important;margin: 0 !important;}
.smooth_slider .mejs-container{margin:0 !important;}
.smooth_slider .mejs-overlay-button{margin-top:-50px !important;}
.smooth_slider div.mejs-mediaelement{height:auto !important;max-width:100% !important;}
.smooth_slider div.mejs-inner,.smooth_slider div.wp-video-shortcode,.smooth_slider div.wp-video,.smooth_slider .mejs-layers,.smooth_slider .mejs-overlay-play{height:100% !important;max-width:100% !important;}
/*Added for responsiveness*/
.smooth_slider .smoothNone{float:none !important;}
.smooth_slider .smoothLeft{float:left !important;}
.smooth_slider .smoothRight{float:right !important;}

.slider-want-row,
.slider-want-row .vc_column-inner  {
  margin: 0;
  padding: 0;
}

.smooth_slider {
  background-color: #F9F9F9 !important;
  
  height: 520px !important;
  padding: 30px 0;
  position: relative;
}

.smooth_slideri-want {
  width: 965px;
  margin: 0 auto;
}

.smooth_slider .smooth_prev,
.smooth_slider .smooth_next {
  width: 35px;
  height: 67px;
  margin: 0 2%;
  opacity: .5;
}

.smooth_slider .smooth_prev:hover,
.smooth_slider .smooth_next:hover {
  opacity: .9;
}

.smooth_slideri-want img {
  width: 635px;
  height: 455px;
}

.slider-text-block {
    width: 311px;
    float: left;
    
    margin-left: 15px;
}

.slider-text-block .block-width {
  margin-left: 0;
  margin-right: 0;
  width: auto;
  display: block;
}

.slider-agentur-news {
  font-size: 17px;
  font-family: Lato-Regular;
  color: #868686;
}

.smooth_slider h2,
.smooth_slider span.slider-text {
  white-space: normal;
}

.smooth_slider span {
  margin: 0;
}

.smooth_slider h2 {
  font-family: MuseoSlab;
  font-size: 26px;
  line-height: 29px;
  font-weight: 700;
  
  margin-top: 25px;
}

.smooth_slider span.slider-text {
  font-size: 22px;
  font-family: Lato-Regular;
  line-height: 27px;
  
  display: inline-block;
  margin: 0;
  margin-top: 25px;
}

.smooth_slider span.slider-hier-entdecken {
  font-weight: 700;
  font-family: MuseoSlab;
  font-size: 23px;
  line-height: 27px;
  display: block;
  color: #B47846;
  
  margin-top: 50px;
}

@media screen and (max-width: 1110px) {
  .smooth_slider {
    height: auto !important;
  }

  .smooth_slideri-want {
    width: 80%;
  }

  .smooth_slideri-want img {
    width: 68%;
    height: auto;
  }

  .slider-text-block {
    width: 170px;
    margin-top: 50px;
  }

  .slider-agentur-news {
    font-size: 14px;
  }

  .smooth_slider h2 {
    font-size: 18px;
    line-height: 21px;
    
    margin-top: 15px;
  }

  .smooth_slider span.slider-text {
    font-size: 16px;
    line-height: 19px;
    
    margin-top: 15px;
  }

  .smooth_slider span.slider-hier-entdecken {
    font-size: 16px;
    line-height: 19px;
    
    margin-top: 30px;
  }

  .smooth_slider .smooth_prev,
  .smooth_slider .smooth_next {
    width: 26px;
    height: 49px;
  }

  .smooth_slider .smooth_next {
    background: transparent url(buttons/default/next-768.png) no-repeat 0 0;
  }
  .smooth_slider .smooth_prev {
    background: transparent url(buttons/default/prev-768.png) no-repeat 0 0;
  }
}

@media screen and (max-width: 768px) {
  .smooth_slider .smooth_prev,
  .smooth_slider .smooth_next {
    margin: 0 13.3px;
  }
}

@media screen and (min-width: 766px) and (max-width: 770px) {
  .slider-text-block .block-width,
  .smooth_slider span.slider-text {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 765px) {
  .smooth_slider {
    height: auto !important;
    padding-bottom: 0;
  }

  .smooth_slideri-want {
    text-align: center;
    width: auto;
  }

  .smooth_slideri-want img {
    width: 78%;
    height: auto;
    margin: 0 auto;
    float: none !important;
  }

  .smooth_slideri-want img.smoothLeft {
    float: none !important
  }

  .slider-text-block {
    background: white;
    text-align: left;
    width: 100%;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 30px;
  }

  .smooth_slider .smooth_next,
  .smooth_slider .smooth_prev {
    top: 27%;
  }

  .slider-text-block .block-width,
  .smooth_slider span.slider-text {
    margin-left: 55px;
    margin-right: 55px;
  }
}

@media screen and (max-width: 595px) {
  .slider-text-block .block-width,
  .smooth_slider span.slider-text {
    margin-left: 15.5px;
    margin-right: 15.5px;
  }
}

@media screen and (max-width: 480px) {
  .smooth_slider .smooth_next,
  .smooth_slider .smooth_prev {
    display: none;
  }
}