.header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	padding: 41px 54px 41px 82px;
	//background: #fff;
	z-index: 10;
	transition: 0.25s transform ease-out;
	.compose-mode & {
		display: none;
	}
	&:before {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		display: block;
		height: 50px;
		transition: 0.25s top ease-in;
	}
	&.offpage {
		transition: 0.25s transform ease-in;
		transform: translateY(-100%);
		&:before {
			top: 100%;
			content: "";
		}
	}
	@media (max-width: 375px) {
		padding: 30px 54px 30px 30px;
		img {
			width: 80px;
		}
	}
}
.toggle-open {
	margin-top: 7.5px;
}
.toggle-open span {
	display: block;
	width: 46px;
	height: 4px;
	background: #222;
	& + span {
		margin-top: 6px;
	}
	@media (max-width: 375px) {
		height: 3px;
		width: 35px;
	}
}
.toggle-close {
	opacity: 0;
	width: 50px;
	height: 50px;
	background: url('../images/close-button.png') center center no-repeat;
	position: relative;
	top: -5px;
	left: -10px;
	cursor: pointer;
	display: none;
	@media (max-width: 375px) {
		top: -11px;
		right: -8px;
		left: inherit;
		background-size: 30px;
	}
}
.close .toggle-open {
	display: none;
}
.close .toggle-close {
	opacity: 1;
	display: block;
	margin-top: 10px;
}
.menu-toggle {
	display: inline-block;
	right: 40px;
	top: 40px;
	z-index: 7;
	position: absolute;
	&.close {
		opacity: 1;
	}
	@media (max-width: 375px){
		top: 24px;
		right: 23px;
	}
	&:hover{
		cursor: pointer;
		cursor: hand;
	}
}
.header-menu {
	visibility: hidden;
	opacity: 0;
	text-align: center;
	height: 100%;
	left: 0;
	padding: 0px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 6;
	&:before {
		position: absolute;
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #322F2C;
		opacity: 0.6;
		z-index: -2;
		backface-visibility: hidden;
	}
	ul {
		list-style-type: none;
		max-width: 764px;
		display: block;
		padding: 0px;
		position: relative;
		margin: 0 auto;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
		li {
			display: block;
			text-align: center;
			margin: 0 auto;
			max-width: 764px;
			overflow: hidden;
			position: relative;
			pointer-events: auto;
			@media (max-width: 375px) {
				max-width: 300px;
			}
		}
	}

}
.header-menu ul li a {
	font-size: 70px;
	color: #fff;
	text-align: center;
	position: relative;
	padding: 0px 0.5626em;
	outline: none;
	font-family: "Museo Slab W01_500";
	-webkit-font-smoothing: antialiased;
	text-decoration: none !important;
	@media (max-width: 375px) {
		font-size: 36px;
		padding: 0px 0.2813em;
	}

	&:hover {
		text-decoration: none;
	}
	&:before,
	&:after
	{
		position: absolute;
		display: block;
		width: 140px;
		height: 1.2em;
		top: 0px;
		background: #fff;
		z-index: -1;
		padding: 0.5626em 0;
		background-clip: content-box;
	}
	&:before {
		left: 100%;
	}
	&:after {
		right: 100%;
	}
}
.header-menu {
	li:hover a,
	.current-menu-item a {
		&:before,
		&:after {
			content: "";
		}
	}
	ul:hover .current-menu-item:not(:hover) a {
		&:before,
		&:after {
			content: none;
		}
	}
}
